:root {
	--white: #f9fafb;
	--black: #1d1d1d;
	--primary: #adca45;
	--secondary: #c9cef9;
}

body {
	background-color: var(--white);
	color: var(--black);
	font-family: "Doto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	    "ROND" 100;
	display: grid;
	grid-template-columns: 1fr;
	gap: 3rem;	
	min-height: 100vh;
	@media screen and (min-width: 979px) {
		grid-template-columns: 1fr 2fr;
	}
	.logo-section { 
		position: relative;
		height: 100%;
		width: 100%;
		& > img {
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.logo-cont {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;	
		img {
			width: 100px;
			height: auto;
		}
	}
	h1,
	h2 {
		font-weight: 900;
	}
	button {
		background-color: var(--primary);
		color: var(--black);
		padding: 0.5rem 2rem;
		border: none;
	}
}
