:root {
	--white: #f9fafb;
	--black: #1d1d1d;
	--primary: #adca45;
	--secondary: #c9cef9;
	--odin-font: 'Odin logo font', serif;
}

@font-face {
	font-family: "Odin logo font";
	src: url('../fonts/Norse-Bold.otf') format('opentype');
}

body {
	margin: 0;
	background-color: var(--white);
	color: var(--black);
	font-family: "Doto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	    "ROND" 100;
	display: grid;
	grid-template-columns: 1fr;
	gap: 3rem;	
	min-height: 100vh;
	@media screen and (min-width: 979px) {
		grid-template-columns: 1fr 2fr;
	}
	.logo-section { 
		display: grid;
		align-items: center;
		position: relative;
		height: 100%;
		width: 100%;
		& > img {
			z-index: -1;	
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.logo-cont {
		background-color: rgba(0,0,0,0.3);
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;	
		padding: 1rem;
		img {
			width: 100px;
			height: auto;
		}
		h2 {
			font-family: var(--odin-font);
			color: var(--white);
			font-size: 3rem;
			line-height: 1.315;
		}
	}
	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2rem;
		form {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
			.input {
				display: flex;
				flex-direction: column;
			}
		}
	}
	h1,
	h2 {
		font-weight: 900;
	}
	button {
		background-color: var(--primary);
		color: var(--black);
		padding: 0.5rem 2rem;
		border: none;
	}
}
